.profile-container {
    margin: 0;
    background-image: url();
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: 100vh;
    padding: 5rem;
}
